---
import Warning from "../../components/Warning.astro";
import FictionLayout from "../../layouts/FictionLayout.astro";

const pageTitle = "creating";
---

<FictionLayout pageTitle={pageTitle}>
    <p>
        i like to make stuff. (in fact, that phrase is exactly how i introduce
        myself at the top of my <a href="https://www.caesiumtea.com/"
            >serious website</a
        >.) what kind of stuff? idk! a whole bunch of different kinds! there's
        actually a list on my <a href="/aboutme">about page</a> of all the different
        kinds of making-stuff that i like to do, so i won't bother repeating myself
        here. instead i'll show you some of the actual specific things that i have
        made!
    </p>
    <Warning>The overall age rating for pages and links in the "creating" section is 13+. Please also keep an eye out for this alert box for additional content warnings on specific pages, such as character profiles!</Warning>
    <ul>
        <li>
            here's a page all about the precious <a href="/creating/ocs"
                >characters that i've created!</a>
        </li>
        <li>
            here's the only <a
                href="https://entropy.itch.io/chasing-the-sunlight"
                rel="noopener noreferrer">visual novel</a
            > i ever actually finished making. (well, actually it's a "kinetic novel"
            as they say, since it has no choices.)
        </li>
    </ul>
</FictionLayout>
