/* CSS reset - modified from Andy Bell */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.7;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
option {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* end CSS reset */



/* import fonts */

/* font url from this codepen: https://codepen.io/cornetespoir/pen/ppBLQa */
@font-face {
    font-family: "OpenDyslexic";
    src: url('https://dl.dropboxusercontent.com/s/qfpakpjedhsrdb9/OpenDyslexicAlta-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/IosevkaAile-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/IosevkaAile-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/IosevkaAile-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: bold;
    font-style: italic;
    src: url("/fonts/IosevkaAile-BoldItalic.ttf") format("truetype");
}

/* */

@font-face {
    font-family: "Iosevka Fixed";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/IosevkaFixed-Extended.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Fixed";
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/IosevkaFixed-ExtendedBold.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Fixed";
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/IosevkaFixed-ExtendedItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Fixed";
    font-weight: bold;
    font-style: italic;
    src: url("/fonts/IosevkaFixed-ExtendedBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Monogram";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/monogram-extended.ttf") format("truetype");
}

@font-face {
    font-family: "Monogram";
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/monogram-extended-italic.ttf") format("truetype");
}

/* end fonts */



/* variables */
:root {
    --font-main: Iosevka, Verdana, Geneva, Tahoma, sans-serif;
    --font-accent: Eczar, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-code: 'Iosevka Fixed', 'Courier New', Courier, monospace;
    --burgericon:url(/img/burger.svg); /* Path to burger vector */
    --closeicon:url(/img/close.svg); /* Path to close vector */
}



/* main styles */

body {
    font-family: var(--font-main);
    background-color: var(--color-bg-primary);
    background: var(--bg);
    color: var(--color-text-primary);
    /* display: grid;
    grid-template-columns: 1fr 80ch 1fr; */
    position: relative;
    list-style-image: url("/img/c16-icon-star_foollovers.gif");
}

#page-container {
    margin: 0;
    display: grid;
    grid-template:
    "h"
    "leftTop"
    "content"
    "leftBottom"
    "right"
    "f";
    min-height: 100vh;
    gap: 0px;
}

header {
    grid-area: h;
}

main {
    grid-area: content;
    margin: 1rem auto;
    padding: 1.5rem;
    padding-bottom: 3rem;
    max-width: min(80ch, 100vw);
    border: 5px solid var(--color-accent-2);
    /* border-right: 5px solid var(--color-accent-2); */
    background-color: var(--color-bg-primary);
}

#left-top-col {
    grid-area: leftTop;
}

#left-bottom-col {
    grid-area: leftBottom;
}

#right-col {
    grid-area: right;
}

#left-top-col, #left-bottom-col, #right-col {
    background-color: var(--color-bg-primary);
    border: 2px dashed var(--color-accent-2);
    margin: 1rem auto;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    /* 10px is the border width of main */
    max-width: min(80ch, calc(100vw - 10px));
    text-align: center;

}

footer {
    grid-area: f;
    /* display: flex;
    gap: 1rem; */
    padding: 0rem 2rem;
    background-color: var(--color-bg-second);
    text-align: center;
    border-top: solid 2px var(--color-accent-2);
}

footer a {
    /* padding: 0.5rem 1rem; */
    color: var(--color-text-second);
}

section {
    margin: 2rem 0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-family: var(--font-accent);
    color: var(--color-text-second);
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--color-accent-1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

h4 {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

a {
    color: var(--color-text-second);
}

a:hover,
a:focus {
    color: var(--color-accent-1);
}

p {
    margin: 1.5rem 0;
}

li p {
    margin: 0;
}

details p {
    margin: 1rem 0;
}

li img {
    display: inline;
}

em, strong {
    color: var(--color-accent-1);
}

code {
    font-family: var(--font-code);
    background-color: var(--color-bg-third);
    color: var(--color-accent-2);
    padding: 0.1em 0.2em;
    border-radius: 0.3em;
}

pre {
    margin: 1.5rem;
    padding: 1rem;
    border: 2px solid var(--color-accent-3);
}

.astro-code code {
    background-color: transparent;
}

select {
    background-color: var(--color-text-primary);
    border: 1px solid var(--color-accent-2);
    color: var(--color-bg-primary);
    border-radius: 3px;
}

option {
    background-color: var(--color-text-primary);
}

iframe {
    border: 0;
    width: 100%;
    height: 700px;
}

blockquote {
    background-color: var(--color-bg-fourth);
    border-left: 5px solid var(--color-accent-3);
    padding: 1rem;
    padding-left: 2rem;
    margin-left: 2rem;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.code {
    font-family: var(--font-code);
}

/* utility classes */

.small-text {
    font-size: 75%;
}

.large-text {
    font-size: 150%;
}

.large-accent-text {
    font-size: 250%;
    font-family: var(--font-accent);
}

.accent-color-1 {
    color: var(--color-accent-1);
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box {
    background-color: var(--color-bg-fourth);
    border: 2px solid var(--color-accent-3);
    padding: 1rem;
    margin: 1rem;
}

.margin-top-1rem {
    margin-top: 1rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.hidden {
    display: none !important;
}

.spoiler {
    color: transparent;
    background-color: var(--color-bg-third);
    border-radius: 0.3rem;
}

/* source: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.ff-image {
    vertical-align: unset !important;
}




/* navigation */

/* shared - navbar and menu */

.nav-links {
    color: var(--color-text-second);
    font-size: 150%;
    font-weight: 500;
    font-family: var(--font-accent);
    list-style: none;
    line-height: 1.2;
}

.nav-links > li {
    padding: 0.5rem 2rem;
}

.nav-links a {
    text-decoration: none;
}

.nav-links ul {
    list-style: none;
    font-weight: 400;
    font-size: 80%;
    padding: 0;
}

.nav-links summary {
    width: fit-content;
    list-style-position: outside;
}

.nav-links details {
    display: inline-block;
    text-align: start;
}

/* sidebar */
.nav-sidebar-header {
    color: var(--color-text-second);
    font-size: 150%;
    font-weight: 500;
    font-family: var(--font-accent);
}

/* navbar (desktop) */

#navbar {
    display: none;
    background-color: var(--color-bg-second);
    border-bottom: 2px solid var(--color-accent-2);
}

#navbar > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 80%;
    margin: auto;
}

#navbar > ul ul {
    background-color: var(--color-bg-second);
    border: 2px solid var(--color-accent-2);
    position: fixed;
    padding: 0.5rem 1.5rem;
}

/* burger menu (nav) */
/* code and icons from https://kalechips.net/projects/snippets/burger */

#burger {
    position:fixed;
    top: 5px;
    z-index:1000;
    background-color: transparent;
}

#burger[open] {
	position:fixed;
    background-color: var(--color-bg-second);
    border: 2px solid var(--color-accent-2);
    border-radius: 0.5rem;
}

#nav-toggle {
    list-style-type: none;
    cursor: pointer;
    display:flex;
    align-items:center;
}

#nav-toggle::before {
	height:40px;
	width:40px;
    background:var(--color-accent-1);
    content: '';
	mask-image:url(/img/burger.svg);
	-webkit-mask-image:url(/img/burger.svg);
	mask-size:40px;
	-webkit-mask-size:40px;
}

#nav-toggle::-webkit-details-marker {
    display: none;
}

#burger[open] > summary::before {
    content: '';
	mask-image:url(/img/close.svg);
	-webkit-mask-image:url(/img/close.svg);
	mask-size:40px;
	-webkit-mask-size:40px;
}

.skip a {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
 
.skip a:focus {
    position:static;
    width:auto;
    height:auto;
}

#nav-menu {
    z-index:1000;
    /* position:relative; */
    padding: 1rem;
    max-height: calc(100vh - 2.5rem);
    overflow: auto;
}

#nav-menu ul {
    list-style:none;
    text-align:center;
}

#nav-menu li {
    margin-left: -40px; /* idfk why i have to do this to remove whitespace */
}

#nav-menu details {
    text-align: center;
}

#nav-skip {
    font-size: 80%;
}



/* settings menu */
#access {
    position:fixed;
    top: 5px;
    right: 0px;
    z-index:1000;
    background-color: transparent;
}

#access[open] {
	background-color: var(--color-bg-second);
    color: var(--color-text-primary);
    width: fit-content;
    padding: 1rem 2rem;
    border: solid 3px var(--color-accent-2);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    max-height: calc(100vh - 10px);
    overflow: auto;
    z-index: 900;
}

#access-toggle {
    list-style-type: none;
    cursor: pointer;
    display:flex;
    align-items:center;
}

#access-toggle::before {
    width: 38px;
    height: 38px;
    background-color:var(--color-accent-1);
    background-image: url(/img/icons8-accessibility-64.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    content: '';
    border: solid 2px var(--color-accent-2);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

#access-toggle::-webkit-details-marker {
    display: none;
}

#access[open] > summary {
    display: block;
    text-align: right;
}

#access[open] > summary::before {
    content: 'close';
    text-decoration: underline;
    height: fit-content;
    color: var(--color-text-primary);
    z-index: 1000;
    background: none;
    border: 0;
}

#access-menu h2 {
    font-size: 1rem;
    font-family: var(--font-main);
    font-weight: bold;
    color: var(--color-text-second);
    margin-top: 0.5rem;
}

#access-menu a {
    color: var(--color-text-second);
}

.access-button {
    display: block;
    background-color: transparent;
    color: var(--color-text-second);
    text-decoration: underline;
    cursor: pointer;
    border: 0;
    margin: 1rem auto 0;
}

#access-menu span, #access-menu label {
    display: block;
}

#access-menu label {
    margin-top: 1rem;
}



/* page specific */


/* splash page */
body.splash {
    background-image: url("/img/SpaceBackground17.png");
}

main.splash {
    border: 0;
    background-color: transparent;
}

#splash-title {
    font-size: min(450%, 14vi);
    text-align: center;
    margin-top: 3rem;
}

.buttons.splash {
    gap: 8px;
}



/* home page */

.webrings {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

#linkback-button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

#linkback-button img {
    margin: auto;
}

.changelog-box {
    height: 30ch;
    overflow: auto;
    text-align: start;
}

.changelog-box ul {
    padding-left: 1rem;
}

.sidebar {
    margin: 0.5rem 0;
}

.sidebar img {
    margin: auto;
}

#statuscafe {
    padding: .5em;
    border: 1px solid var(--color-accent-2);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/* about me */

.blinkies img {
    width: 150px;
    height: 20px;
}

/* changelog full */

.changelog li {
    padding: 0.4rem;
}

.changelog li:nth-of-type(2n) {
    background-color: var(--color-bg-fourth);
}

/* tags */

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: 0.25em;
    border: dotted 2px var(--color-accent-2);
    border-radius: 0.5em;
    padding: 0.3em 0.7em;
    font-size: 1.15em;
}

/* post's */

.post {
    margin-bottom: 2rem;
}

.post-hero {
    background-color: var(--color-bg-second);
    padding: 1rem;
    margin: 0 auto 2.5rem;
    width: fit-content;
    max-width: calc(100vw - 2rem);
}

.post-hero img {
    margin: 0.5rem auto;
    max-width: 100%;
    height: auto;
}

.post-hero figcaption {
    font-size: 85%;
    color: var(--color-accent-1);
}

.post p {
    text-indent: 4ch;
}

.post p:first-of-type {
    text-indent: 0;
}

.toc {
    margin-bottom: 2rem;
    width: fit-content;
    margin-left: 0;
}

.toc h2 {
    margin-top: 0;
}

.toc ul {
    padding-left: 1rem;
}

.sidebar .toc {
    width: 100%;
    text-align: start;
}

.license-box, .warning-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.license-box img {
    width: 88px;
    height: auto;
}

.license-box p, .warning-box p {
    text-indent: 0;
    margin: 0;
}

.warning-box img {
    height: 100px;
    width: auto;
}

/* OC pages */

table {
    background-color: var(--color-bg-second);
    border-collapse: collapse;
    border: 2px solid var(--color-accent-3);

}

table th, td {
}

.oc-table th {
    text-align: right;
    padding-right: 1rem;
    font-weight: bold;
    color: var(--color-accent-1);
    border-right: 2px solid var(--color-accent-3);
}

.oc-table td {
    text-align: left;
    padding-left: 0.7rem;
}

table tr:nth-of-type(2n) {
    background-color: var(--color-bg-fourth);
}





/* desktop styles */

@media screen and (min-width: 600px) {
    main {
        max-width: 80ch;
        min-width: 70ch;
    }

    #navbar {
        display: block;
    }

    #burger {
        display: none;
    }

    #nav-skip {
        display: none;
    }

    #linkback-button {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #linkback-button div {
        max-width: 36ch;
    }

}

/* activate 3 col layout only above this width */
@media screen and (min-width: 150ch) {
    #page-container {
        grid-template:
            "h h h" auto
            "leftTop content right" auto
            "leftBottom content right" 1fr
            "f f f" auto
            / 1fr 80ch 1fr;
        align-content: start;
        position: relative;
    }
    
    #left-top-col, #left-bottom-col, #right-col {
        margin: 1rem;
        width: unset;
        text-align: start;
    }

    #left-top-col {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #left-bottom-col {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    #right-col {
        position: sticky;
        top: 1rem;
    }

    .nav-sidebar ul {
        padding: 0;
    }

    .nav-sidebar-header {
        list-style-position: inside;
    }

    .sidebar h2 {
        font-size: 1.5rem;
    }

    .changelog-box.sidebar {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .sidebar.buttons {
        flex-direction: column;
    }

    .sidebar .toc {
        font-size: 85%;
        width: 100%;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .zoom img:hover {
        transform: scale(2);
    } 
  }
  