/* CSS reset - modified from Andy Bell */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
option {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* end CSS reset */

/* fonts */

/* font url from this codepen: https://codepen.io/cornetespoir/pen/ppBLQa */
@font-face {
    font-family: "OpenDyslexic";
    src: url('https://dl.dropboxusercontent.com/s/qfpakpjedhsrdb9/OpenDyslexicAlta-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/IosevkaAile-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/IosevkaAile-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/IosevkaAile-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka";
    font-weight: bold;
    font-style: italic;
    src: url("/fonts/IosevkaAile-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Monogram";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/monogram-extended.ttf") format("truetype");
}

@font-face {
    font-family: "Monogram";
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/monogram-extended-italic.ttf") format("truetype");
}

/* variables */
:root {
    --color-bg-primary: #331D41; /* dark purple */
    --color-bg-second: #003f5c; /* dark blue */
    --color-bg-third: #00202e; /* darkest blue */
    --color-text-primary: #ffb9a3; /* light coral */
    --color-text-second: #ff6361; /* coral */
    --color-accent-1: #ffa600; /* gold */
    --color-accent-2: #bc5090; /* light mauve */
    --color-accent-3: #8a508f; /* dark mauve */
    --color-accent-4: #58508d; /* purple */
    --font-main: Iosevka, Verdana, Geneva, Tahoma, sans-serif;
    --font-accent: Eczar, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-code: 'Courier New', Courier, monospace;
}


body {
    font-family: var(--font-main);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    /* display: grid;
    grid-template-columns: 1fr 80ch 1fr; */
    position: relative;
}

#page-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 80ch;
    border-left: 5px solid var(--color-bg-second);
    border-right: 5px solid var(--color-bg-second);
}

section {
    margin: 2rem 0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-family: var(--font-accent);
    color: var(--color-text-second);
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--color-accent-1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

a {
    color: var(--color-text-second);
}

a:hover,
a:focus {
    color: var(--color-accent-1);
}

p {
    margin: 1rem 0;
}

em {
    color: var(--color-accent-1);
}

footer {
    /* display: flex;
    gap: 1rem; */
    margin-top: 2rem;
    padding: 0rem 2rem;
    background-color: var(--color-bg-second);
    text-align: center;
}

footer a {
    /* padding: 0.5rem 1rem; */
    color: var(--color-text-second);
}

code {
    font-family: var(--font-code);
    background-color: var(--color-bg-second);
    color: var(--color-text-second);
}

select {
    background-color: var(--color-text-primary);
    border: 1px solid var(--color-accent-2);
    color: var(--color-bg-primary);
    border-radius: 3px;
}

option {
    background-color: var(--color-text-primary);
}

iframe {
    border: 0;
    width: 100%;
    height: 700px;
}

.code {
    font-family: var(--font-code);
}

.small-text {
    font-size: 75%;
}

/* source: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.dyslexic {
    font-family: OpenDyslexic, Arial, Helvetica, sans-serif;
}


/* nav styles */

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.expanded {
    display: unset;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--color-text-second);
}

/* accessibility menu */
#access-icon {
    background-color: var(--color-accent-1);
    position: fixed;
    right: 0;
    top: 5px;
    cursor: pointer;
    border: solid 1px var(--color-accent-3);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: fit-content;
    height: fit-content;
}

#access-icon img {
    width: 32px;
    height: 32px;
}

#access-icon:focus {
    background-color: var(--color-text-second);
    border-color: var(--color-text-primary);
}

#access-menu {
    background-color: var(--color-accent-1);
    color: var(--color-bg-second);
    width: fit-content;
    padding: 0 2rem 1rem;
    position: fixed;
    right: 0;
    top: 5px;
    cursor: pointer;
    border: solid 1px var(--color-accent-3);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    
}

#access-menu h1 {
    font-size: 1rem;
    font-family: var(--font-main);
    font-weight: bold;
    color: var(--color-bg-second);
}

#access-menu-close {
    font-weight: bold;
    width: fit-content;
    position: absolute;
    top: 0.5rem;
    right: 3px;
    z-index: 1;
    background-color: var(--color-bg-primary);
    color: var(--color-text-second);
    border: solid 1px var(--color-bg-primary);
    border-radius: 15%;
}

.access-button {
    display: block;
    background-color: transparent;
    color: var(--color-bg-primary);
    text-decoration: underline;
    cursor: pointer;
    border: 0;
    margin-top: 1rem;
}

#access-menu span, #access-menu label {
    display: block;
}

#access-menu label {
    margin-top: 1rem;
}



/* page specific */




/* home page */

#linkback-button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

#linkback-button img {
    margin: auto;
}

#linkback-button div {
    width: 36ch;
}

/* tags */

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: 0.25em;
    border: dotted 2px var(--color-accent-2);
    border-radius: 0.5em;
    padding: 0.3em 0.7em;
    font-size: 1.15em;
}




/* desktop styles */

@media screen and (min-width: 600px) {
    main {
        min-width: 80ch;
    }
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }


}