---
import { getCollection } from "astro:content";
import BlogMetaLayout from "../../layouts/BlogMetaLayout.astro";
import SiteButtons from "../../components/SiteButtons.astro";

const pageTitle = "tags index";
const allPosts = await getCollection("blog");

const tags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
];
---

<BlogMetaLayout pageTitle={pageTitle}>
    <div class="tags">
        {
            tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
    <SiteButtons slot="right" />
</BlogMetaLayout>
