---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "about";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h2 id="about-me">about me</h2>
        <p>
            hey friends, i'm vance! my pronouns are <a
                href="https://pronouns.org/they-them"
                target="_blank"
                rel="noopener noreferrer">they/them</a
            >. a bit about me:
        </p>
        <ul>
            <li>other names i go by include vae, entropy, and caesiumtea</li>
            <li>
                33 y/o, transmasc non-binary, queer af, neurodivergent,
                disabled, plural, anticapitalist
            </li>
            <li>based in Pittsburgh PA</li>
            <li>
                into all kinds of art and crafting, cozy games, TTRPGs,
                journaling, personal knowledge management, and learning about
                mental health
            </li>
            <li>
                run a little tiny <a
                    href="https://www.caesiumtea.com/"
                    target="_blank"
                    rel="noopener noreferrer">art business</a
                >
            </li>
            <li>
                work as the operations manager for a makerspace and also in
                retail at a handmade clothing shop. learning to code so i can
                maybe do that freelance someday instead.
            </li>
            <li>
                more specific on all the kinds of art/craft i'm into:
                <ul>
                    <li>drawing, graphic design</li>
                    <li>writing (fiction and editorial)</li>
                    <li>coding (mostly web and Python)</li>
                    <li>crochet</li>
                    <li>sewing, embroidery</li>
                    <li>electronics</li>
                    <li>3D printing</li>
                    <li>jewelry</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h2 id="about-the-site">about the site</h2>
        <p><em>site first published 2/24/25!</em></p>
        <p>
            well, as you can tell, this site is still just a little baby... lmao
        </p>
        <p>
            i'm not fully sure what i'm planning to do with this site! the
            impetus to make it came from 3 things: i wanted a very low-key new
            blog to post random thoughts, i wanted to learn the astro framework
            (and it just so happened that the starter tutorial was about making
            a blog!), and i really admire neocities and its culture and wanted
            to be part of that. so a big thing i'm hoping to host here is like,
            some tutorials or other kinds of resources for other neocities
            creators to learn from or use! especially since i do have a bit more
            experience with web development than some other folks here, i really
            want to share what i know and help empower people to make the sites
            of their dreams!
        </p>
        <p>
            other things i post here will probably be a bit more self indulgent
            haha... like maybe some stuff about my OCs, lists of my favorite
            things, whatever... but i know that's what people who like the indie
            web are interested in anyway, so i'll try not to feel self-conscious
            about it lol.
        </p>
        <p>
            the funny thing is, i was enchanted with neocities when i first
            discovered it 5 years ago and i went and made this account right
            away, but... i didn't actually get around to putting any <em
                >content</em
            > on my site or actually doing anything with it for those 5 years. lmao.
            so i guess i am finally fixing that long standing silliness.
        </p>
        <p>
            fun fact: i had a legit Geocities back in the day and YES i DID use
            a table layout with a drawing of my OC in the sidebar. still hoping
            that someday i'll find the code/assets from that old site buried on
            some hard drive and be able to resurrect it.
        </p>
        <p>
            ...anyway, if you get any kind of enjoiyment from this site, that
            would make me really happy! and if you have any thoughts about the
            site or anything i mention on it, feel free to get in touch!
        </p>
    </section>
    <section>
        <h2 id="contact">contact</h2>
        <p>here are some ways you can contact me!</p>
        <ul>
            <li>
                discord username: caesiumtea (this is my preferred contact
                method!)
                <ul>
                    <li>
                        if you're in the <a
                            href="https://discord.gg/df87cxcNnr"
                            target="_blank"
                            rel="noopener noreferrer">r/neocities discord</a
                        >, you'll find me just named "vance" there. feel free to
                        @ me!
                    </li>
                </ul>
            </li>
            <li>
                email: <a href="mailto:caesiumtea@gmail.com"
                    >caesiumtea@gmail.com</a
                >
            </li>
            <li>
                mastodon: <a
                    href="https://mastodon.social/@entropy"
                    target="_blank"
                    rel="noopener noreferrer">@entropy@mastodon.social</a
                >
            </li>
            <li>
                bluesky: <a
                    href="https://bsky.app/profile/caesiumtea.bsky.social"
                    target="_blank"
                    rel="noopener noreferrer">caesiumtea@bsky.social</a
                >
            </li>
            <li>
                twitter: <a
                    href="https://twitter.com/allegoresis"
                    target="_blank"
                    rel="noopener noreferrer">@allegoresis</a
                >
                (personal) or <a
                    href="https://twitter.com/caesiumtea"
                    target="_blank"
                    rel="noopener noreferrer">@caesiumtea</a
                >
                (art)
            </li>
            <li>
                matrix: <a
                    href="https://matrix.org"
                    target="_blank"
                    rel="noopener noreferrer">@caesiumtea:matrix.org</a
                >
                (warning: i don't log in super regularly)
            </li>
            <li>
                instagram: <a
                    href="https://www.instagram.com/caesiumtea/"
                    target="_blank"
                    rel="noopener noreferrer">@caesiumtea</a
                >
            </li>
            <li>
                reddit: <a
                    href="https://www.reddit.com/user/caesiumtea/"
                    target="_blank"
                    rel="noopener noreferrer">caesiumtea</a
                >
            </li>
            <li>
                basically just look up “caesiumtea” anywhere and if that user
                exists it's probably me lmao
            </li>
        </ul>
    </section>
    <section>
        <h2 id="my-other-sites">my other sites</h2>
        <ul>
            <li>
                <a
                    href="https://blog.caesiumtea.com/"
                    target="_blank"
                    rel="noopener noreferrer">art blog</a
                > - my baby
            </li>
            <li>
                <a
                    href="https://www.caesiumtea.com/"
                    target="_blank"
                    rel="noopener noreferrer">homepage/art site</a
                > (hella incomplete site lol, but has a list of everywhere i post
                art)
                <ul>
                    <li>
                        mirrored (but often not up to date) on <a
                            href="https://caesiumtea.neocities.org/"
                            target="_blank"
                            rel="noopener noreferrer">neocities</a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <a
                    href="https://caesiumtea.gitlab.io/dev-portfolio/"
                    target="_blank"
                    rel="noopener noreferrer">dev portfolio/links</a
                > (similarly, has a list of everywhere i post code. also, if you
                just wanna see more website designs, browse the portfolio! or browse
                my <a
                    href="https://gitlab.com/users/caesiumtea/projects"
                    target="_blank"
                    rel="noopener noreferrer">gitlab</a
                >
                repos themselves)
            </li>
            <li>
                <a
                    href="https://caesiumtea.notion.site/caesiumtea/vae-s-digital-garden-58e4a1ed91d246d698a810499b04ae61"
                    target="_blank"
                    rel="noopener noreferrer">digital garden on notion</a
                > - mostly notes from things i've studied, largely coding-related
            </li>
        </ul>
    </section>
</BaseLayout>
