---
import HomeLayout from "../layouts/HomeLayout.astro";

const pageTitle = "about me";
---

<HomeLayout pageTitle={pageTitle}>
    <section>
        <h2>bio</h2>
        <p>
            hey friends, i'm vance! my pronouns are <a
                href="https://pronouns.org/they-them"
                rel="noopener noreferrer">they/them</a
            >. a bit about me:
        </p>
        <ul>
            <li>other names i go by include vae, entropy, and caesiumtea</li>
            <li>
                33 y/o, transmasc non-binary, queer af, neurodivergent,
                disabled, plural, anticapitalist
            </li>
            <li>based in Pittsburgh PA</li>
            <li>
                into all kinds of art and crafting, cozy games, TTRPGs,
                journaling, personal knowledge management, and learning about
                mental health
            </li>
            <li>
                run a little tiny <a
                    href="https://www.caesiumtea.com/"
                    rel="noopener noreferrer">art business</a
                >
            </li>
            <li>
                work as the operations manager for a makerspace and also in
                retail at a handmade clothing shop. learning to code so i can
                maybe do that freelance someday instead.
            </li>
            <li>
                more specific on all the kinds of art/craft i'm into:
                <ul>
                    <li>drawing, graphic design</li>
                    <li>writing (fiction and editorial)</li>
                    <li>coding (mostly web and Python)</li>
                    <li>crochet</li>
                    <li>sewing, embroidery</li>
                    <li>electronics</li>
                    <li>3D printing</li>
                    <li>jewelry</li>
                </ul>
            </li>
        </ul>
        <h3 class="margin-top-1rem" id="jasper">jasper</h3>
        <p>as mentioned above, i am plural! that means there is actually more than one person who lives in my brain: there's vance, who is kind of the "main" consciousness that's always present, and then there's jasper, who just kinda fades in and out of consciousness at different times. if this doesn't make sense or you wanna learn more about what plurality is, check out this fantastic <a href="https://www.youtube.com/watch?v=M34kR9JWWqc" rel="noopener noreferrer">video from body et al.</a> or <a href="https://dragonsroost.neocities.org/pluralstuff" rel="noopener noreferrer">dragon's roost</a>!</p>
        <p>in general, the content on this site is written mainly by vance, and when we say "i" we are usually referring <em>mainly</em> to vance... but at the same time, the name "vance" also kind of refers to us as a collective? (ps, we prefer the term "collective" rather than "system" to refer to "the unit consisting of vance and jasper together"--and no we don't have a separate collective name) it's kind of hard to explain... but in short, you don't really need to do anything or regard us/me any differently as a result of us being plural. we just wanted to mention jas here because, well, ze <em>is</em> part of the "me" making this site, and there might even eventually be some content written specifically by jas. so, with that in mind, here is jasper's self introduction:</p>
        <blockquote class="jasper">
            <p>hey, it is jasper.... uh. i was thinking earlier about what i wanted to say here but now i kind of lost it, so. i'll clean this up later, i guess. idk what there is to say about myself... i'm agender and my pronouns are ze/zir (they/them is also acceptable). i like reptiles, blood, horror, pretty anime boys, and being cringe. a famous(?) thing i said once was "basically just think of the phrase 'evil twink' and whatever you just pictured. thats me". uh, i tend to be pretty crass and maybe have a dark sense of humor or smth?</p>
            <p>idk. i'm having second thoughts about even including myself on this page because i'm literally unconscious like almost all of the time these days anyway so like whats the point lmao..... idk.</p>
            <p>that said, i do eventually wanna write a post for this blog about why i kin genocider syo from danganronpa. lmao</p>
            <p>anyway.. vance's/our collective social media and contact links are down below, and i <em>will</em> also see anything sent to vance, in theory (like, i may not be paying attention to the outside world all the time, but we do fully share memories). <em>but,</em> if you ever want to reach out to me in particular, feel free to DM me on <a href="https://plural.cafe/@sooj" rel="noopener noreferrer">mastodon</a> or <a href="https://twitter.com/gurolizard" rel="noopener noreferrer">twitter</a>--note that those accounts are 18+, though. if you're under 18 and want to talk to me (which. not sure if i fully recommend but uhhh. shrug), just use one of vance's contact methods below but specify that the message is directed to me.</p>
            <p>i'm also working on <a href="https://gurolizard.neocities.org/">my own site</a> but there's not really anything there yet</p>
        </blockquote>
    </section>
    <section>
        <h2 id="contact">contact</h2>
        <p>here are some ways you can contact me!</p>
        <ul>
            <li>drop a line in my <a href="/guestbook">guestbook!</a></li>
            <li>
                discord username: caesiumtea (this is my preferred contact
                method!)
                <ul>
                    <li>
                        if you're in the <a
                            href="https://discord.gg/df87cxcNnr"
                            rel="noopener noreferrer">r/neocities discord</a
                        >, you'll find me just named "vance" there. feel free to
                        @ me!
                    </li>
                </ul>
            </li>
            <li>
                email: <a href="mailto:caesiumtea@proton.me"
                    >caesiumtea@proton.me</a
                >
            </li>
            <li>
                mastodon: <a
                    href="https://mastodon.social/@entropy"
                    rel="noopener noreferrer">@entropy@mastodon.social</a
                >
            </li>
            <li>
                bluesky: <a
                    href="https://bsky.app/profile/caesiumtea.bsky.social"
                    rel="noopener noreferrer">caesiumtea@bsky.social</a
                >
            </li>
            <li>
                twitter: <a
                    href="https://twitter.com/allegoresis"
                    rel="noopener noreferrer">@allegoresis</a
                >
                (personal) or <a
                    href="https://twitter.com/caesiumtea"
                    rel="noopener noreferrer">@caesiumtea</a
                >
                (art)
            </li>
            <li>
                matrix: <a
                    href="https://matrix.org"
                    rel="noopener noreferrer">@caesiumtea:matrix.org</a
                >
                (warning: i don't log in super regularly)
            </li>
            <li>
                instagram: <a
                    href="https://www.instagram.com/caesiumtea/"
                    rel="noopener noreferrer">@caesiumtea</a
                >
            </li>
            <li>
                reddit: <a
                    href="https://www.reddit.com/user/caesiumtea/"
                    rel="noopener noreferrer">caesiumtea</a
                >
            </li>
            <li>
                basically just look up “caesiumtea” anywhere and if that user
                exists it's probably me lmao
            </li>
        </ul>
    </section>
    <section>
        <h2 id="my-other-sites">my other sites</h2>
        <ul>
            <li>
                <a
                    href="https://blog.caesiumtea.com/"
                    rel="noopener noreferrer">art blog/newsletter</a
                > - it's more formal than this site, but i put a lot of work into this and would really appreciate if you want to check it out 💜
            </li>
            <li>
                <a
                    href="https://www.caesiumtea.com/"
                    rel="noopener noreferrer">homepage/art site</a
                > (hella incomplete site lol, but has a list of everywhere i post
                art)
                <ul>
                    <li>
                        mirrored (but often not up to date) on <a
                            href="https://caesiumtea.neocities.org/"
                            rel="noopener noreferrer">neocities</a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <a
                    href="https://caesiumtea.gitlab.io/dev-portfolio/"
                    rel="noopener noreferrer">dev portfolio/links</a
                > (similarly, has a list of everywhere i post code. also, if you
                just wanna see more website designs, browse the portfolio! or browse
                my <a
                    href="https://gitlab.com/users/caesiumtea/projects"
                    rel="noopener noreferrer">gitlab</a
                >
                repos themselves)
            </li>
            <li>
                <a
                    href="https://caesiumtea.notion.site/caesiumtea/vae-s-digital-garden-58e4a1ed91d246d698a810499b04ae61"
                    rel="noopener noreferrer">digital garden on notion</a
                > - mostly notes from things i've studied, largely coding-related
            </li>
        </ul>
    </section>
    <section>
        <h2>blinkies</h2>
        <details open>
            <summary>show/hide blinkies</summary>
        <div class="buttons blinkies">
            <img src="/img/blinkies/badwebdesign.gif" alt="a cursor pointing at the text 'bad website design' in different silly fonts, over a rainbow gradient background" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/iviewsource.gif" alt="I view source" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/i-love-comments.gif" alt="I love comments" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/censorship.gif" alt="censorship kills creativity" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/disabledpride.gif" alt="disabled pride" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/sickashell.gif" alt="pixel art of pills with the text 'sick as hell'" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/stressed.gif" alt="a frowning kaomoji and the word 'stressed'" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/cringeculture.webp" alt="cringe culture is dead" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/catboyrights.gif" alt="catboy rights" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/fudanshi.gif" alt="rainbow background with the text 'fudanshi'" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/homoeroticsubtext.gif" alt="homoerotic subtext" class="freezeframe" loading="lazy">
            <img src="/img/blinkies/nightperson.gif" alt="the words 'night person' next to city buildings at night" class="freezeframe" loading="lazy">
        </div>
    </details>
    </section>
    <div slot="right" class="sidebar buttons">
        <img src="/img/buttons/fluffmoth/theygq.png" alt="they/them with genderqueer flag">
        <img src="/img/buttons/fluffmoth/Genderqueer.png" alt="Gender queer">
        <img src="/img/buttons/fluffmoth/nonbinary.png" alt="non-binary">
        <img src="/img/buttons/fluffmoth/transmasc.png" alt="trans masc">
        <img src="/img/buttons/fluffmoth/demiboy.png" alt="demi boy">
        <img src="/img/buttons/fluffmoth/neurodivergent.png" alt="neurodivergent">
        <img src="/img/buttons/fluffmoth/adhd.png" alt="ADHD">
        <a href="https://dragonsroost.neocities.org/pluralstuff" rel="noopener noreferrer"><img src="/img/buttons/fluffmoth/plural.png" alt="plural"></a>
        <img src="/img/buttons/fluffmoth/disabled.png" alt="disabled">
        <img src="/img/buttons/fluffmoth/depression.png" alt="depression">
        <img src="/img/buttons/fluffmoth/pansexual.png" alt="pansexual">
        <img src="/img/buttons/fluffmoth/arospec.png" alt="aro spec">
        <img src="/img/buttons/fluffmoth/achillean.png" alt="achillean">
        <img src="/img/buttons/fluffmoth/poly.png" alt="polyamorous">
        <a href="https://www.16personalities.com/infp-personality" rel="noopener noreferrer"><img src="/img/buttons/fluffmoth/infp.png" alt="INFP"></a>
        <a href="https://easydamus.com/chaoticgood.html" rel="noopener noreferrer"><img src="/img/buttons/fluffmoth/chaoticgood.png" alt="chaotic good"></a>
        <img src="/img/buttons/fluffmoth/artist.png" alt="artist">
        <img src="/img/buttons/fluffmoth/coder.png" alt="coder">
        <img src="/img/buttons/fluffmoth/crafter.png" alt="crafter">
        <img src="/img/buttons/fluffmoth/writer.png" alt="writer">
        <img src="/img/buttons/fluffmoth/witch.png" alt="witch">
        <a href="https://mspaintadventures.fandom.com/wiki/Derse" rel="noopener noreferrer"><img src="/img/buttons/fluffmoth/derse.png" alt="derse"></a>
        <a href="https://idbuttons.neocities.org/" rel="noopener noreferrer"><img src="/img/buttons/fluffmoth/freebuttons.png" alt="free buttons"></a>

    </div>
</HomeLayout>
