---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "vae's guestbook";
---

<BaseLayout pageTitle={pageTitle}>
    <p><a href="https://entropically.atabook.org/">(view externally)</a></p>
    <iframe src="https://entropically.atabook.org/" aria-label="guestbook" loading="lazy"></iframe>
</BaseLayout>