---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "vae's blog n stuff";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>
            welcome! this site is still under construction, but why not go check
            out the <a href="/blog">blog</a> for now?
        </p>
        <p>things i hope to add:</p>
        <ul>
            <li>
                tutorials to help with your own neocities, like how to make a
                button to toggle between fonts
            </li>
            <li>pages for my OCs maybe???</li>
            <li>comments widget!</li>
            <li>guestbook</li>
            <li>actual cute layout with graphics</li>
        </ul>
    </section>
    <section>
        <h2>link back</h2>
        <div id="linkback-button">
            <div>
                <p>
                    feel free to use this button to link to me! (hotlinking ok if you're on
                    neocities, may break on non-neocities sites)
                </p>
                <img
                    src="img/entropically-button.png"
                    alt="88x31 button with a sunset-colored gradient and a few sketchy purple stars, and then the word 'entropically' written in a white pixel font."
                />
            </div>
            <textarea aria-label="button code" class="code" autocomplete="off" 
            readonly
                >&lt;a href="https://entropically.neocities.org/" target="_blank" rel="noopener noreferrer"&gt;&lt;img src="https://entropically.neocities.org/img/entropically-button.png" alt="88x31 button with a sunset-colored gradient and a few sketchy purple stars, and then the word 'entropically' written in a white pixel font."&gt;&lt;/a&gt;</textarea>
        </div>
    </section>
    <section>
        <h2>webrings</h2>
        <p>coming soon...</p>
    </section>
</BaseLayout>
<style>
    @media screen and (min-width: 636px) {
        #linkback-button {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
</style>
