---
import SiteButtons from "../components/SiteButtons.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
const pageTitle = "links out";
---

<HomeLayout pageTitle={pageTitle}>
    <section>
        <h2>friends</h2>
        <p>
            pls check out these very cool sites from some other folks i know in
            the indie web world!
        </p>
            <div class="buttons">
                <a href="https://gremghost.neocities.org/" rel="noopener noreferrer"><img src="/img/sites-buttons/gremghost.png" alt="gremghost" /></a>
                <a href="https://sugarstarluxe.neocities.org/" rel="noopener noreferrer"><img class="freezeframe" src="/img/sites-buttons/sugarstarluxe.gif" alt="sugar starluxe" /></a>
                <a href="https://katsphub.neocities.org"><img src="https://katsphub.neocities.org/Assets/button1final.gif" alt="Kat's Heav and Hell" height="31"></a>
                <a href="https://goblincat.neocities.org"><img src="/img/sites-buttons/goblincat.png" alt="the text 'goblin cat' with a small red cat silhouette in the middle an ornate frame around the border of the button"></a>
            </div>
    </section>
    <section>
        <h2>more from the indie web</h2>
        <p>some of my favorite personal sites from other folks who i don't know, and some cool indie web communities</p>
        <ul>
            <li><a href="https://petrapixel.neocities.org/" rel="noopener noreferrer"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="Petra pixel"></a> the site that basically inspired me to get back on neocities! lots of amazing web dev tutorials and resources!!</li>
            <li><a href="https://fabled.day/" rel="noopener noreferrer"><img src="/img/sites-buttons/fabled.gif" alt="fabled" class="freezeframe"></a> really fascinating site! as befits the creator of the "verbosity" webring, a big focus of this site is long-form writing--curious how that seems almost exotic on the small web, doesn't it? there's a lot of really creative little touches and clever fun things to discover, too.</li>
            <li><a href="https://melonland.net/" rel="noopener noreferrer"><img src="/img/sites-buttons/melonland.png" alt="Melon land"></a> fuck around and find out???</li> 
            <li><a href="https://kalechips.net/" rel="noopener noreferrer">kalechips</a></li>
        </ul>
    </section>
    <SiteButtons slot="right" />
</HomeLayout>
