---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "links out";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h2>friends</h2>
        <p>
            pls check out these very cool sites from some other folks i know in
            the indie web world!
        </p>
        <details>
            <summary>warning: contains fast animation</summary>
            <div class="buttons">
                <a href="https://gremghost.neocities.org/" rel="noopener noreferrer"><img src="/img/sites-buttons/gremghost.png" alt="gremghost" /></a>
                <a href="https://sugarstarluxe.neocities.org/" rel="noopener noreferrer"><img src="/img/sites-buttons/sugarstarluxe.gif" alt="sugar starluxe" /></a>
            </div>
        </details>
    </section>
    <section>
        <h2>other personal sites</h2>
        <p>some of my favorite personal sites from other folks who i don't know</p>
        <ul>
            <li><a href="https://petrapixel.neocities.org/" rel="noopener noreferrer">petrapixel</a>: the site that basically inspired me to get back on neocities! lots of amazing web dev tutorials and resources!!</li>
            <li><a href="https://kalechips.net/" rel="noopener noreferrer">kalechips</a></li>
        </ul>
    </section>
</BaseLayout>
