---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "about the site";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h2>basic info</h2>
        <p><em>site first published 2/24/25!</em></p>
        <p>
            well, as you can tell, this site is still just a little baby... lmao
        </p>
        <p>
            i'm not fully sure what i'm planning to do with this site! the
            impetus to make it came from 3 things: i wanted a very low-key new
            blog to post random thoughts, i wanted to learn the astro framework
            (and it just so happened that the starter tutorial was about making
            a blog!), and i really admire neocities and its culture and wanted
            to be part of that. so a big thing i'm hoping to host here is like,
            some tutorials or other kinds of resources for other neocities
            creators to learn from or use! especially since i do have a bit more
            experience with web development than some other folks here, i really
            want to share what i know and help empower people to make the sites
            of their dreams!
        </p>
        <p>
            other things i post here will probably be a bit more self indulgent
            haha... like maybe some stuff about my OCs, lists of my favorite
            things, whatever... but i know that's what people who like the indie
            web are interested in anyway, so i'll try not to feel self-conscious
            about it lol.
        </p>
        <p>
            the funny thing is, i was enchanted with neocities when i first
            discovered it 5 years ago and i went and made this account right
            away, but... i didn't actually get around to putting any <em
                >content</em
            > on my site or actually doing anything with it for those 5 years. lmao.
            so i guess i am finally fixing that long standing silliness.
        </p>
        <p>
            fun fact: i had a legit Geocities back in the day and YES i DID use
            a table layout with a drawing of my OC in the sidebar. still hoping
            that someday i'll find the code/assets from that old site buried on
            some hard drive and be able to resurrect it.
        </p>
        <p>
            ...anyway, if you get any kind of enjoiyment from this site, that
            would make me really happy! and if you have any thoughts about the
            site or anything i mention on it, feel free to <a
                href="/aboutme#contact">get in touch</a
            >!
        </p>
    </section>
    <section>
        <h2 id="about-license">license</h2>
        <p>
            the license for the <strong>code</strong> of this site is the Hippocratic
            License, an <em>almost</em> open license that says you can do basically
            anything you want with this code as long as it doesn't hurt people.
            check out the <a href="https://github.com/caesiumtea/entropically-nc/blob/main/LICENSE.md">LICENSE.md on github</a> as well as the <a
                href="https://firstdonoharm.dev/">Hippocratic License website</a
            >. in practical terms, that means that you may not use my code on sites containing hate speech or promoting fascism or other harmful content - but as long as you're not doing that, please feel free to copy my code as much as you want! i genuinely do want you to go tinker around with my code 🛠✨
        </p>
        <p>
            however, any <strong>prose (including blog posts) and visual art</strong> on this
            site are <em>proprietary</em> (unless otherwise stated), meaning you do <em>not</em> have
            permission to use them without asking. though, if you do want to use
            my art/writing for anything, please do feel free to actually reach out
            and ask--i will probably say yes!
        </p>
    </section>
    <section>
        <h2>accessibility</h2>
        <p>i'm doing the best i can to make this site accessible to as many people as possible (especially to folks with disabilities), but my knowledge has its limits! if any part of my site feels inaccessible to you, please do <a href="/aboutme#contact">contact me</a> and let me know how i can do better 💜</p>
        <p>accessibility methods in place (if any of these don't work, let me know ASAP!):</p>
        <ul>
            <li>you can find an accessibility menu in the top right corner -- it's the icon of a person in a circle, also should be the first tab index when navigating by keyboard. this menu provides options to disable/enable animations and cursor effects, to change the font, and later will also have a toggle for light and dark modes. i will be writing a tutorial soon for how to add this to your own site!</li>
            <li><a href="https://www.npmjs.com/package/freezeframe" rel="noopener noreferrer">freezeframe.js</a> is in use to pause animated gifs - <a href="/learn/freezeframe">tutorial here</a>! however, please note that in order to reduce lag, <strong>freezeframe has <em>not</em> been applied to gifs with slow or subtle animation</strong>. to the best of my knowledge, subtle animations should not pose a risk to anyone, but if it does still give you a bad experience here then absolutely do reach out and let me know so that i can change it.</li>
            <li>i'm in the process of making sure my site is still functional without javascript - currently the accessibility menu does require javascript to activate, so that's a high priority to fix</li>
            <li>i try to use alt attributes and aria labels, but i have not yet tested my site with a screen reader</li>
            <li>should be navigable by keyboard, but i know i need to add "skip to main" and better "return to top" links (does anyone know how to make a "return to top" also reset the keyboard focus??)/li>
            <li>i check my color contract with <a href="https://webaim.org/resources/contrastchecker/">webaim</a> - but if my color choices are still not legible enough to <em>you</em> then let me know!</li>
            <li>designed to be responsive for any device size and tested with zoom up to 200% - please let me know if anything still doesn't look right on your device!</li>
        </ul>
    </section>
    <section>
        <h2 id="credits">credits</h2>
        <h3>code</h3>
        <ul>
            <li>
                CSS-only hamburger menu modified from <a
                    href="https://kalechips.net/projects/snippets/burger"
                    rel="noopener noreferrer">kalechips</a>
            </li>
            <li>
                cursor sparkles script from <a
                    href="http://www.mf2fm.com/rv/dhtmltinkerbell.php"
                    rel="noopener noreferrer">RV</a>
            </li>
            <li>splash page background generated by <a href="https://deep-fold.itch.io/space-background-generator" rel="noopener noreferrer">space background generator by deep-fold</a></li>
            <li>gif pausing provided by <a href="https://www.npmjs.com/package/freezeframe" rel="noopener noreferrer">freezeframe.js</a>, implemented thanks to <a href="https://bechnokid.neocities.org/tutorials/freezeframe/" rel="noopener noreferrer">bechno kid's tutorial</a></li>
            <li>Astro table of contents generation based on code from <a href="https://kld.dev/building-table-of-contents/" rel="noopener noreferrer">Kevin Drum</a> and <a href="https://noahflk.com/blog/astro-table-of-contents" rel="noopener noreferrer">Noah flk</a></li>
            <li>
                built with <a
                    href="https://astro.build"
                    rel="noopener noreferrer">Astro</a
                >🚀
            </li>
        </ul>
        <h3>graphics</h3>
        <ul>
            <li>
                default font: <a
                    href="https://typeof.net/Iosevka/"
                    rel="noopener noreferrer">Iosevka Aile</a>
            </li>
            <li>
                pixel font: <a
                    href="https://datagoblin.itch.io/monogram"
                    rel="noopener noreferrer">monogram by datagoblin</a>
            </li>
            <li>
                dyslexic font: <a
                    href="https://opendyslexic.org/"
                    rel="noopener noreferrer">OpenDyslexic</a>
            </li>
            <li>
                <a
                    href="https://icons8.com/icon/54893/web-accessibility"
                    rel="noopener noreferrer">Accessibility</a
                > icon by <a href="https://icons8.com" rel="noopener noreferrer"
                    >Icons8</a
                >
            </li>
            <li>favicon found on <a href="https://pixelsafari.neocities.org/favicon/" rel="noopener noreferrer">pixel safari</a>, original source unknown</li>
            <li>
                color palette based on one from <a
                    href="https://colorkit.co/palette/00202e-003f5c-2c4875-8a508f-bc5090-ff6361-ff8531-ffa600-ffd380/"
                    rel="noopener noreferrer">colorkit</a
                >
            </li>
            
        </ul>
        <a href="https://neocities.org/" rel="noopener noreferrer"
            ><img
                src="/img/neocities.png"
                alt="Hosted by Neocities"
                class="centered margin-top-1rem"
            /></a
        >
    </section>
</BaseLayout>
