---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "about the site";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <h2>basic info</h2>
        <p><em>site first published 2/24/25!</em></p>
        <p>
            well, as you can tell, this site is still just a little baby... lmao
        </p>
        <p>
            i'm not fully sure what i'm planning to do with this site! the
            impetus to make it came from 3 things: i wanted a very low-key new
            blog to post random thoughts, i wanted to learn the astro framework
            (and it just so happened that the starter tutorial was about making
            a blog!), and i really admire neocities and its culture and wanted
            to be part of that. so a big thing i'm hoping to host here is like,
            some tutorials or other kinds of resources for other neocities
            creators to learn from or use! especially since i do have a bit more
            experience with web development than some other folks here, i really
            want to share what i know and help empower people to make the sites
            of their dreams!
        </p>
        <p>
            other things i post here will probably be a bit more self indulgent
            haha... like maybe some stuff about my OCs, lists of my favorite
            things, whatever... but i know that's what people who like the indie
            web are interested in anyway, so i'll try not to feel self-conscious
            about it lol.
        </p>
        <p>
            the funny thing is, i was enchanted with neocities when i first
            discovered it 5 years ago and i went and made this account right
            away, but... i didn't actually get around to putting any <em
                >content</em
            > on my site or actually doing anything with it for those 5 years. lmao.
            so i guess i am finally fixing that long standing silliness.
        </p>
        <p>
            fun fact: i had a legit Geocities back in the day and YES i DID use
            a table layout with a drawing of my OC in the sidebar. still hoping
            that someday i'll find the code/assets from that old site buried on
            some hard drive and be able to resurrect it.
        </p>
        <p>
            ...anyway, if you get any kind of enjoiyment from this site, that
            would make me really happy! and if you have any thoughts about the
            site or anything i mention on it, feel free to <a href="/aboutme#contact">get in touch</a>!
        </p>
    </section>
    <section>
        <h2 id="credits">credits</h2>
        <ul>
            <li>CSS-only hamburger menu modified from <a href="https://kalechips.net/projects/snippets/burger" rel="noopener noreferrer">kalechips</a></li>
            <li>cursor sparkles script from <a href="http://www.mf2fm.com/rv/dhtmltinkerbell.php" rel="noopener noreferrer">RV</a></li>
            <li>default font: <a href="https://typeof.net/Iosevka/" rel="noopener noreferrer">Iosevka Aile</a></li>
            <li>pixel font: <a href="https://datagoblin.itch.io/monogram" rel="noopener noreferrer">monogram by datagoblin</a></li>
            <li>dyslexic font: <a href="https://opendyslexic.org/" rel="noopener noreferrer">OpenDyslexic</a></li>
            <li>
                <a
                    href="https://icons8.com/icon/54893/web-accessibility"
                    rel="noopener noreferrer">Accessibility</a
                > icon by <a
                    href="https://icons8.com"
                    rel="noopener noreferrer">Icons8</a>
            </li>
            <li>
                color palette based on one from <a
                    href="https://colorkit.co/palette/00202e-003f5c-2c4875-8a508f-bc5090-ff6361-ff8531-ffa600-ffd380/"
                    rel="noopener noreferrer">colorkit</a
                >
            </li>
            <li>
                built with <a
                    href="https://astro.build"
                    rel="noopener noreferrer">Astro</a
                >🚀
            </li>
        </ul>
        <a href="https://neocities.org/" rel="noopener noreferrer"
            ><img src="/img/neocities.png" alt="Hosted by Neocities" class="centered" /></a
        >
    </section>
</BaseLayout>
