---
import HomeLayout from "../layouts/HomeLayout.astro";

const pageTitle = "uses";
---
<HomeLayout pageTitle={pageTitle}>
    <p>this is a page about what kinds of stuff i use for various purposes, especially for web dev and other tech stuff. jumping on the bandwagon from <a href="https://uses.tech/" rel="noopener noreferrer">uses.tech</a>.</p>

    <section>
        <h2>computer (hardware)</h2>
        <p>i have a couple of different computers!! mostly because i keep having computers break in ways that make them not suitable for daily use anymore, but they're not totally dead, so i refuse to get rid of them...</p>
        <h3>desktop (Prometheus)</h3>
        <ul>
            <li>basically my "main computer" and daily driver</li>
            <li>light gaming rig built by a friend of a friend in like 2022, using an ASRock motherboard</li>
            <li>Windows 11 (born with Windows 10)</li>
            <li>AMD Ryzen 7 3800X 8-Core Processor (3.90 GHz)</li>
            <li>16GB RAM (hoping to upgrade soon though...)</li>
            <li>NVIDIA GeForce GTX 1660 SUPER (6 GB) GPU</li>
            <li>born with 256GB NVMe primary drive; recently added a cheap used 1TB HDD</li>
            <li>planning to add an additional drive with a Linux partition eventually...</li>
        </ul>
        <h3>portable computer (Valencia)</h3>
        <ul>
            <li><a href="http://www.orangepi.org/html/hardWare/computerAndMicrocontrollers/details/orange-pi-800.html" rel="noopener noreferrer">Orange Pi 800</a> keyboard computer: a single-board computer (yknow, like a Raspberry Pi) but with a keyboard as its case</li>
            <li>bought this so i can bring it when i go to my makerspace!! (way cheaper than a laptop lol) unfortunately it doesn't have a monitor so i can't bring it many other places; makerspace only works because there's already monitors that live there</li>
            <li>Ubuntu (Orange Pi's customized variant of Xubuntu)</li>
            <li>ARM64</li>
            <li>Rockchip RK3399 SoC</li>
            <li>4GB RAM</li>
            <li>64GB eMMC storage</li>
            <li>handmade matching fabric case c:</li>
            <li>believe it or not, this little buddy can do *pretty much* everything i expect from a PC!!! the only real shortcoming is the lack of OpenGL support.</li>
        </ul>
        <h3>monitor</h3>
        <ul>
            <li>NEC MultiSync</li>
            <li>1280x1024</li>
            <li>it's an old VGA monitor BUT i like it for two reasons!!</li>
            <ul>
                <li>the "multisync" thing: you can connect two VGA sources at the same time and toggle between them! really handy for working with my orange pi!</li>
                <li>i actually really like that it has a less common resolution that's more square-ish than usual monitors these days!! i do a whole lot of writing, and a taller screen is so much nicer for that! the only time it sucks is that video games sometimes struggle to match the resolution...</li>
            </ul>
        </ul>
    </section>
    <section>
        <h2>software</h2>
        <h3>VS Code</h3>
        
    </section>
    <section>
        <h2>creating</h2>
    </section>
    <section>
        <h2>makerspace</h2>
        <p>i belong to an amazing non-profit makerspace called Prototype PGH!! i've been a member since 2023 and i really love it there!!</p>
        <p>here's some of the equipment i use that belongs to the makerspace:</p>
        <h3>Prusa Mini 3d printer</h3>
        <h3>XTool laser cutter</h3>
        <h3>Singer heavy duty sewing machine</h3>
    </section>
    <section>
        <h2></h2>
    </section>
</HomeLayout>