---
import SiteButtons from "../../components/SiteButtons.astro";
import HomeLayout from "../../layouts/HomeLayout.astro";
const pageTitle = "first generative art experiment";
---

<HomeLayout pageTitle={pageTitle}>

    <h2>{pageTitle}</h2>
    <canvas id="gen1"></canvas>
    <script src= defer></script>

</HomeLayout>
