---
import SiteButtons from "../../components/SiteButtons.astro";
import HomeLayout from "../../layouts/HomeLayout.astro";
const pageTitle = "first generative art experiment";
---

<HomeLayout pageTitle={pageTitle}>

    <h2>{pageTitle}</h2>
    <canvas id="gen1" width="400" height="400"></canvas>
    <script type="module">
        import { runSketch } from "../../scripts/gen1.js";
        runSketch();
    </script>

</HomeLayout>
