---
import SiteButtons from "../../components/SiteButtons.astro";
import HomeLayout from "../../layouts/HomeLayout.astro";
const pageTitle = "experiments";
---

<HomeLayout pageTitle={pageTitle}>
    <section>
        <h2>{pageTitle}</h2>
        <ul>
            <li>
                <a href="/experiments/speckle">speckle machine</a>
            </li>
        </ul>
    </section>


</HomeLayout>
