<button id="access-icon" tabindex="0">
    <span class="sr-only">accessibility menu</span>
    <img
        src="img/icons8-accessibility-64.png"
        alt="Round icon of the accessibility symbol that's a person with
arms outstretched. There is a purple outline, dark blue background with stars,
and the person is colored in coral pink."
    />
</button>
<div id="access-menu" role="menu" hidden>
    <button aria-label="close menu" id="access-menu-close">X</button>
    <h1>accessibility menu!</h1>
    <button class="access-button" id="access-cursor">disable cursor animation</button>
    <span>(will reload page)</span>
</div>