<details id="access">
    <summary id="access-toggle"></summary>        
    <div id="access-menu" role="menu">
        <!-- <button aria-label="close menu" id="access-menu-close">X</button> -->
        <h2>settings!</h2>
        <button id="play-gif" class="access-button">play GIFs</button>
        <button id="stop-gif" class="access-button">stop GIFs</button>

        <button class="access-button" id="access-cursor"
            >disable cursor animation</button
        >
        <span class="small-text">(will reload page)</span>

        <label for="select-font">select font</label>
        <select id="select-font">
            <option value="default">default</option>
            <option value="pixel">pixel</option>
            <option value="dyslexic">open dyslexic</option>
        </select>
        <p>alternate themes coming soon!</p>
        <p><a class="to-top" href="#">return to top of page</a></p>
        <p class="skip"><a href="#access-toggle">close menu</a></p>
    </div>
</details>
