<details id="access">
    <summary id="access-toggle"><span class="sr-only">accessibility menu</span></summary>        
    <div id="access-menu" role="menu" hidden>
        <button aria-label="close menu" id="access-menu-close">X</button>
        <h2>accessibility menu!</h2>
        <button id="play-gif" class="access-button">play GIFs</button>
        <button id="stop-gif" class="access-button">stop GIFs</button>

        <button class="access-button" id="access-cursor"
            >disable cursor animation</button
        >
        <span class="small-text">(will reload page)</span>

        <label for="select-font">select font</label>
        <select id="select-font">
            <option value="default">default</option>
            <option value="pixel">pixel</option>
            <option value="dyslexic">open dyslexic</option>
        </select>
        <p>light theme coming soon!</p>
        <p><a class="to-top" href="#">return to top of page</a></p>
        <p class="skip"><a href="#access-menu-close">close menu</a></p>
    </div>
</details>
