---
import Navigation from "./Navigation.astro";
// CSS burger menu code and icons from 
// https://kalechips.net/projects/snippets/burger
---
<details id="burger">
    <summary id="nav-toggle"></summary>
    <nav id="nav-menu">
        <Navigation />
    </nav>
</details>
