<h2>comments</h2>
<script src="https://giscus.app/client.js"
        data-repo="caesiumtea/entropically-nc"
        data-repo-id="R_kgDON_Eujg"
        data-category="Announcements"
        data-category-id="DIC_kwDON_Eujs4CoWJd"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="catppuccin_macchiato"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript>page comments only available with javascript, sorry!</noscript>
<p>page comments are powered by <a href="https://giscus.app/">giscus</a>! you need to log in with a <a href="https://github.com/">GitHub</a> account in order to leave a comment on this page. it's free and i would highly encourage everyone, especially my fellow web crafters, to have a GitHub account anyway! however, if you don't want one and still want to comment--or if you want to comment anonymously--you can use the <a href="/guestbook">guestbook</a> instead! (just make a note in there about which page/post your comment is meant for, if you're responding to a specific one.)</p>