---
// import Social from "./Social.astro";
---

<footer>
    <p>by vance. source on <a href="https://gitlab.com/caesiumtea/entropically-nc" target="_blank" rel="noopener noreferrer">gitlab</a>.</p>
</footer>

