---
// import Social from "./Social.astro";
---

<footer>
    <p>
        by vance | source on <a
            href="https://github.com/caesiumtea/entropically-nc"
            target="_blank"
            rel="noopener noreferrer">github</a
        > | <a href="/rss.xml">rss</a
        > | <a href="/credits">credits</a>
    </p>
</footer>
