---
import Navigation from "./Navigation.astro";
---

<header>
    <nav id="navbar">
        <div class="skip">
            <a href="#main" tabindex="1">skip to content</a>
        </div>
        <Navigation />
    </nav>
</header>
