<ul class="nav-links">
    <li><a href="/">home</a></li>
    <li>
        <details>
            <summary>about</summary>
            <ul>
                <li><a href="/aboutme">vance</a></li>
                <li><a href="/site">site</a></li>
                <li><a href="/guestbook">guestbook</a></li>
            </ul>
        </details>
    </li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/learn">learn</a></li>
    <li>
        <details>
            <summary>more</summary>
            <ul>
                <li><a href="/links">links out</a></li>
            </ul>
        </details>
    </li>
    <li class="skip" id="nav-skip"><a href="#nav-toggle">close menu</a></li>
</ul>
