<div class="sidebar buttons" aria-label="88 by 31 buttons">
    <img src="/img/buttons/mobilefriendly1.gif" alt="mobile friendly">
    <img src="/img/buttons/gaysite.gif" alt="flashing rainbow pride flag with the text: this site is gay" class="freezeframe">
    <img src="/img/buttons/aqueercodedthis.png" alt="pastel rainbow background with the text: you're telling me a queer coded this">
    <img src="/img/buttons/transnow2.gif" alt="trans rights now!">
    <img src="/img/buttons/acab.gif" alt="the letter 'A.C.A.B.' flashing pink and yellow" class="freezeframe">
    <img src="/img/buttons/defund_badge.gif" alt="defund the police" class="freezeframe">
    <img src="/img/buttons/free_palestine.gif" alt="free palestine">
    <img src="/img/buttons/right2repair.png" alt="I support right to repair">
    <img src="/img/buttons/parental.gif" alt="parental advisory: I say fuck a lot">
    <img src="/img/buttons/neowebdesign.gif" alt="the Neocities cat logo with flashing text: web design is my passion" class="freezeframe" >
    <img src="/img/buttons/gimp.gif" alt="graphics by GIMP">
    <img src="/img/buttons/vscode.png" alt="made with Visual Studio Code">
    <img src="/img/buttons/freebrowser.gif" alt="best viewed with a free browser">
    <img src="/img/buttons/miku.gif" alt="this site is Miku approved" class="freezeframe" >
    <img src="/img/buttons/oldmanyaoi.gif" alt="icon of a wilted rose with the text: old man yaoi now!">
    <img src="/img/buttons/2019.gif" alt="still using buttons in 2019!">
</div>