<h2>status.cafe</h2>
<div id="statuscafe">
    <div id="statuscafe-username"></div>
    <div id="statuscafe-content"></div>
</div>
<script src="https://status.cafe/current-status.js?name=entropically" defer
></script>
<a href="https://status.cafe"><img src="https://status.cafe/assets/button.png" alt="Status Cafe"/></a>