---
import FictionLayout from "../../../layouts/FictionLayout.astro";

const pageTitle = "fiction & OCs";
---
<FictionLayout pageTitle={pageTitle}>
    <p>uhhhhhhh WIP.... but like... sometimes i write or draw stuff?? sometimes it's about these dumb nerds who i made up and am obsessed with???</p>
    <p>for now you might be interested to check out my <a href="https://toyhou.se/caesium" rel="noopener noreferrer">toyhouse</a> or <a href="https://archiveofourown.org/users/entropically" rel="noopener noreferrer">ao3</a>? or even my silly little twitter project called <a href="https://twitter.com/dailytrashkid" rel="noopener noreferrer">the daily trashkid</a> where for a little while i tried to tweet a random fact about one of my characters every day.</p>
    <p>i honestly don't even have that many different characters anymore (and i tend to reuse the same few in different stories) but, as for the ones i do have, i love them dearly.... actually i've been mainly focused on the same like 3 of them for about 15 years now, despite not having any specific project i use them in, lmao.</p>
    <h2>characters</h2>
    <ul>
        <li>
            <details>
                <summary>jason: the glass cannon</summary>
                <p>probably the most precious to me of all my characters, even if it's rude to pick favorites.</p>
                <p>jason is... kind of a hot mess. </p>
                <p>(lmfao you know what i'm just gonna leave it at that for now.)</p>
            </details>
        </li>
        <li>
            <details>
                <summary>soo jin: the sinnamon roll</summary>
            </details>
        </li>
        <li>
            <details>
                <summary>zack: the sleepy nerd</summary>
            </details>
        </li>
        <li>
            <details>
                <summary>aubrey: the femboy before femboys were cool</summary>
                <p>honestly that's it that's everything you need to know about him</p>
            </details>
        </li>
    </ul>
    <h2>projects/settings</h2>
    <ul>
        <li>
            <details>
                <summary><a href="https://caesiumtea.gitlab.io/symposiac-landing/">symposiac</a></summary>
                <p>one of my very rare attempts at a "real" "novel". except that it's actually fanfic for the TTRPG <a href="https://massifpress.com/lancer" rel="noopener noreferrer">Lancer</a>--or more specifically, it's the backstory of the lancer character that i created and then never got a chance to play.</p>
                <p>when an NHP researcher disappears overnight, his experimental subject goes rogue and recruits a fellow scientist to track down his whereabouts. in their pursuit, the pair become the unlikely co-pilots of the mech suit ophanim, scouring the galaxy for clues while hunting bounties as their cover.</p>
                <p>read the <a href="https://archiveofourown.org/works/25852267" rel="noopener noreferrer">fic that started it all</a> on ao3.</p>
            </details>
        </li>
        <li>
            <details>
                <summary>the brigade</summary>
                <p>the original, vanilla-flavor, real-world slice-of-life setting for jason, zack, et al. it's not really a "project" in any concrete sense. in fact, "the brigade" was just the label for a group of characters, not an actual story. there's really no plots to speak of.</p>
            </details>
        </li>
    </ul>
</FictionLayout>