---
import Warning from "../../../components/Warning.astro";
import FictionLayout from "../../../layouts/FictionLayout.astro";
import Bio from "../../../content/ocs/jason.md";
import data from "../../../content/ocs/jason.json";
import OCTable from "../../../components/OCTable.astro";

const pageTitle = "🌩 jason christakos";
---
<FictionLayout pageTitle={pageTitle}>
    <h2>the glass cannon</h2>
    <Warning>This page contains references to child abuse, self-harm, suicidal ideation, and substance abuse.</Warning>
    <OCTable data={data} />
    <Bio />
</FictionLayout>